body{
  text-align: center;
  text-shadow: 2px 2px 4px #000, -2px -2px 4px #000, 2px -2px 4px #000, -2px 2px 4px #000;
  color: white;
}

#main-header {
  position: fixed;
  top: 5%;
  width: 100vw;
  height: auto;
  background-color: transparent;
  z-index: 100;

}

#main-header nav {
  display: flex;
  justify-content: space-between;
}

.nav-button{
  text-shadow: 2px 2px 4px #000, -2px -2px 4px #000, 2px -2px 4px #000, -2px 2px 4px #000;
  font-size: 1.5em;
}


#logo {
  width: 10em;
  margin-left: 5%;
  object-fit: contain;
}

#home {
  position: relative;
  background-image: url("images/fundo.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}
.text-center h1{
  font-size: 5em;
}

.section {
  position: relative;
  background-image: url("images/fundo1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;
  color: white;
}

#quemSomos{
  align-items: center;
  justify-content: center;
  background-image: url("images/fundo1.jpg");
}

#comoFunciona{
  align-items: center;
  justify-content: center;
  background-image: url("images/fundo2.jpg");
}

#contacto{
  background-image: url("images/fundocontacto.jpg");
}

#form-container {
  width: 40%;
  height: 60%;
  margin-right: 10%;
  margin-left: auto;
}


.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
}

.form-group label {
  margin-top: 1em;
}

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
  .text-center h1{
    font-size: 2em;
  }

  .nav-button{
    font-size: 1em;
  }

  #form-container {
    width: 80vw;
  }

  #form-header h2{
    font-size: 0.7em;
  }
}


/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) { }

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {  }
